# Git files
.git
.gitignore

# Docker files
Dockerfile
.dockerignore

# Build files
bin/
tmp/

# Local config files
.env
.env.*

# Golang specific
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Tests
*_test.go
**/*_test.go
**/test/
**/tests/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 