.transform { transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)); }
.transform-gpu { transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)); }
.transform-none { transform: none; }

.scale-0 { --tw-scale-x: 0; --tw-scale-y: 0; }
.scale-50 { --tw-scale-x: .5; --tw-scale-y: .5; }
.scale-75 { --tw-scale-x: .75; --tw-scale-y: .75; }
.scale-90 { --tw-scale-x: .9; --tw-scale-y: .9; }
.scale-95 { --tw-scale-x: .95; --tw-scale-y: .95; }
.scale-100 { --tw-scale-x: 1; --tw-scale-y: 1; }
.scale-105 { --tw-scale-x: 1.05; --tw-scale-y: 1.05; }
.scale-110 { --tw-scale-x: 1.1; --tw-scale-y: 1.1; }
.scale-125 { --tw-scale-x: 1.25; --tw-scale-y: 1.25; }
.scale-150 { --tw-scale-x: 1.5; --tw-scale-y: 1.5; }

.scale-x-0 { --tw-scale-x: 0; }
.scale-x-50 { --tw-scale-x: .5; }
.scale-x-75 { --tw-scale-x: .75; }
.scale-x-90 { --tw-scale-x: .9; }
.scale-x-95 { --tw-scale-x: .95; }
.scale-x-100 { --tw-scale-x: 1; }
.scale-x-105 { --tw-scale-x: 1.05; }
.scale-x-110 { --tw-scale-x: 1.1; }
.scale-x-125 { --tw-scale-x: 1.25; }
.scale-x-150 { --tw-scale-x: 1.5; }

.scale-y-0 { --tw-scale-y: 0; }
.scale-y-50 { --tw-scale-y: .5; }
.scale-y-75 { --tw-scale-y: .75; }
.scale-y-90 { --tw-scale-y: .9; }
.scale-y-95 { --tw-scale-y: .95; }
.scale-y-100 { --tw-scale-y: 1; }
.scale-y-105 { --tw-scale-y: 1.05; }
.scale-y-110 { --tw-scale-y: 1.1; }
.scale-y-125 { --tw-scale-y: 1.25; }
.scale-y-150 { --tw-scale-y: 1.5; }

.rotate-0 { --tw-rotate: 0deg; }
.rotate-1 { --tw-rotate: 1deg; }
.rotate-2 { --tw-rotate: 2deg; }
.rotate-3 { --tw-rotate: 3deg; }
.rotate-6 { --tw-rotate: 6deg; }
.rotate-12 { --tw-rotate: 12deg; }
.rotate-45 { --tw-rotate: 45deg; }
.rotate-90 { --tw-rotate: 90deg; }
.rotate-180 { --tw-rotate: 180deg; }
.rotate-270 { --tw-rotate: 270deg; }
.rotate-360 { --tw-rotate: 360deg; }

.-rotate-1 { --tw-rotate: -1deg; }
.-rotate-2 { --tw-rotate: -2deg; }
.-rotate-3 { --tw-rotate: -3deg; }
.-rotate-6 { --tw-rotate: -6deg; }
.-rotate-12 { --tw-rotate: -12deg; }
.-rotate-45 { --tw-rotate: -45deg; }
.-rotate-90 { --tw-rotate: -90deg; }
.-rotate-180 { --tw-rotate: -180deg; }
.-rotate-270 { --tw-rotate: -270deg; }
.-rotate-360 { --tw-rotate: -360deg; }

.translate-x-0 { --tw-translate-x: 0px; }
.translate-x-1 { --tw-translate-x: 0.25rem; }
.translate-x-2 { --tw-translate-x: 0.5rem; }
.translate-x-3 { --tw-translate-x: 0.75rem; }
.translate-x-4 { --tw-translate-x: 1rem; }
.translate-x-5 { --tw-translate-x: 1.25rem; }
.translate-x-6 { --tw-translate-x: 1.5rem; }
.translate-x-8 { --tw-translate-x: 2rem; }
.translate-x-10 { --tw-translate-x: 2.5rem; }
.translate-x-12 { --tw-translate-x: 3rem; }
.translate-x-16 { --tw-translate-x: 4rem; }
.translate-x-20 { --tw-translate-x: 5rem; }
.translate-x-24 { --tw-translate-x: 6rem; }
.translate-x-32 { --tw-translate-x: 8rem; }
.translate-x-40 { --tw-translate-x: 10rem; }
.translate-x-48 { --tw-translate-x: 12rem; }
.translate-x-56 { --tw-translate-x: 14rem; }
.translate-x-64 { --tw-translate-x: 16rem; }
.translate-x-px { --tw-translate-x: 1px; }
.translate-x-1/2 { --tw-translate-x: 50%; }
.translate-x-full { --tw-translate-x: 100%; }

.-translate-x-1 { --tw-translate-x: -0.25rem; }
.-translate-x-2 { --tw-translate-x: -0.5rem; }
.-translate-x-3 { --tw-translate-x: -0.75rem; }
.-translate-x-4 { --tw-translate-x: -1rem; }
.-translate-x-5 { --tw-translate-x: -1.25rem; }
.-translate-x-6 { --tw-translate-x: -1.5rem; }
.-translate-x-8 { --tw-translate-x: -2rem; }
.-translate-x-10 { --tw-translate-x: -2.5rem; }
.-translate-x-12 { --tw-translate-x: -3rem; }
.-translate-x-16 { --tw-translate-x: -4rem; }
.-translate-x-20 { --tw-translate-x: -5rem; }
.-translate-x-24 { --tw-translate-x: -6rem; }
.-translate-x-32 { --tw-translate-x: -8rem; }
.-translate-x-40 { --tw-translate-x: -10rem; }
.-translate-x-48 { --tw-translate-x: -12rem; }
.-translate-x-56 { --tw-translate-x: -14rem; }
.-translate-x-64 { --tw-translate-x: -16rem; }
.-translate-x-px { --tw-translate-x: -1px; }
.-translate-x-1/2 { --tw-translate-x: -50%; }
.-translate-x-full { --tw-translate-x: -100%; }

.translate-y-0 { --tw-translate-y: 0px; }
.translate-y-1 { --tw-translate-y: 0.25rem; }
.translate-y-2 { --tw-translate-y: 0.5rem; }
.translate-y-3 { --tw-translate-y: 0.75rem; }
.translate-y-4 { --tw-translate-y: 1rem; }
.translate-y-5 { --tw-translate-y: 1.25rem; }
.translate-y-6 { --tw-translate-y: 1.5rem; }
.translate-y-8 { --tw-translate-y: 2rem; }
.translate-y-10 { --tw-translate-y: 2.5rem; }
.translate-y-12 { --tw-translate-y: 3rem; }
.translate-y-16 { --tw-translate-y: 4rem; }
.translate-y-20 { --tw-translate-y: 5rem; }
.translate-y-24 { --tw-translate-y: 6rem; }
.translate-y-32 { --tw-translate-y: 8rem; }
.translate-y-40 { --tw-translate-y: 10rem; }
.translate-y-48 { --tw-translate-y: 12rem; }
.translate-y-56 { --tw-translate-y: 14rem; }
.translate-y-64 { --tw-translate-y: 16rem; }
.translate-y-px { --tw-translate-y: 1px; }
.translate-y-1/2 { --tw-translate-y: 50%; }
.translate-y-full { --tw-translate-y: 100%; }

.-translate-y-1 { --tw-translate-y: -0.25rem; }
.-translate-y-2 { --tw-translate-y: -0.5rem; }
.-translate-y-3 { --tw-translate-y: -0.75rem; }
.-translate-y-4 { --tw-translate-y: -1rem; }
.-translate-y-5 { --tw-translate-y: -1.25rem; }
.-translate-y-6 { --tw-translate-y: -1.5rem; }
.-translate-y-8 { --tw-translate-y: -2rem; }
.-translate-y-10 { --tw-translate-y: -2.5rem; }
.-translate-y-12 { --tw-translate-y: -3rem; }
.-translate-y-16 { --tw-translate-y: -4rem; }
.-translate-y-20 { --tw-translate-y: -5rem; }
.-translate-y-24 { --tw-translate-y: -6rem; }
.-translate-y-32 { --tw-translate-y: -8rem; }
.-translate-y-40 { --tw-translate-y: -10rem; }
.-translate-y-48 { --tw-translate-y: -12rem; }
.-translate-y-56 { --tw-translate-y: -14rem; }
.-translate-y-64 { --tw-translate-y: -16rem; }
.-translate-y-px { --tw-translate-y: -1px; }
.-translate-y-1/2 { --tw-translate-y: -50%; }
.-translate-y-full { --tw-translate-y: -100%; }

.skew-x-0 { --tw-skew-x: 0deg; }
.skew-x-1 { --tw-skew-x: 1deg; }
.skew-x-2 { --tw-skew-x: 2deg; }
.skew-x-3 { --tw-skew-x: 3deg; }
.skew-x-6 { --tw-skew-x: 6deg; }
.skew-x-12 { --tw-skew-x: 12deg; }

.-skew-x-1 { --tw-skew-x: -1deg; }
.-skew-x-2 { --tw-skew-x: -2deg; }
.-skew-x-3 { --tw-skew-x: -3deg; }
.-skew-x-6 { --tw-skew-x: -6deg; }
.-skew-x-12 { --tw-skew-x: -12deg; }

.skew-y-0 { --tw-skew-y: 0deg; }
.skew-y-1 { --tw-skew-y: 1deg; }
.skew-y-2 { --tw-skew-y: 2deg; }
.skew-y-3 { --tw-skew-y: 3deg; }
.skew-y-6 { --tw-skew-y: 6deg; }
.skew-y-12 { --tw-skew-y: 12deg; }

.-skew-y-1 { --tw-skew-y: -1deg; }
.-skew-y-2 { --tw-skew-y: -2deg; }
.-skew-y-3 { --tw-skew-y: -3deg; }
.-skew-y-6 { --tw-skew-y: -6deg; }
.-skew-y-12 { --tw-skew-y: -12deg; }

.origin-center { transform-origin: center; }
.origin-top { transform-origin: top; }
.origin-top-right { transform-origin: top right; }
.origin-right { transform-origin: right; }
.origin-bottom-right { transform-origin: bottom right; }
.origin-bottom { transform-origin: bottom; }
.origin-bottom-left { transform-origin: bottom left; }
.origin-left { transform-origin: left; }
.origin-top-left { transform-origin: top left; }

:root {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
} 